<head>
   <title>{%- if page.title -%}{{ page.title }}&nbsp;&mdash;&nbsp;{%- endif -%}{{ site.title }}</title>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="{{ "/assets/css/reset.css" | relative_url }}">
   <link rel="stylesheet" href="{{ "/assets/css/papers.css" | relative_url }}">
   <link rel="stylesheet" href="{{ "/assets/fonts/fonts.css" | relative_url }}">
   <link rel="stylesheet" href="{{ "/assets/open.knome.fi/style.css" | relative_url }}">
</head>
